# Week One

This is a jupyter notebook to teach introductory linear regression
Much of this tutorial is inspired by the tutorial found here https://github.com/ageron/handson-ml/blob/master/02_end_to_end_machine_learning_project.ipynb

In [66]:
print("Press shift + enter to run this cell!")

Press shift + enter to run this cell!

In [67]:
# import statements
import numpy as np
# import os

In [68]:
# configures the plots
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
plt.rcParams['axes.labelsize'] = 14
plt.rcParams['xtick.labelsize'] = 12
plt.rcParams['ytick.labelsize'] = 12

In [69]:
# opens the data
import pandas as pd
def get_data():
    path_csv = "housing.csv"
    return pd.read_csv(path_csv)

In [70]:
housing = get_data()

In [71]:
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [72]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null float64
total_rooms           20640 non-null float64
total_bedrooms        20433 non-null float64
population            20640 non-null float64
households            20640 non-null float64
median_income         20640 non-null float64
median_house_value    20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [73]:
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(housing, test_size=0.2)
print(len(train_set), "train +", len(test_set), "test")

16512 train + 4128 test

In [74]:
train_set.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
5808,-118.26,34.14,6.0,1727.0,506.0,1200.0,439.0,4.1083,210700.0,<1H OCEAN
1949,-120.86,38.75,15.0,1533.0,300.0,674.0,287.0,2.5625,146100.0,INLAND
15379,-117.25,33.36,6.0,3725.0,960.0,2833.0,915.0,2.3214,247000.0,<1H OCEAN
10876,-117.88,33.73,32.0,1947.0,355.0,1786.0,332.0,4.5726,177500.0,<1H OCEAN
4248,-118.32,34.14,23.0,4574.0,1423.0,1624.0,995.0,4.0965,500001.0,<1H OCEAN

In [75]:
# for set_ in (train_set, test_set):
#    set_.drop("ocean_proximity", axis=1)
train_set = train_set.drop("ocean_proximity", axis=1)
test_set = test_set.drop("ocean_proximity", axis=1)

housing_train = train_set.drop("median_house_value", axis=1) # drop labels for training set
housing_labels = train_set["median_house_value"].copy()

housing_test = train_set.drop("median_house_value", axis=1) # drop labels for test
housing_test_labels = test_set["median_house_value"].copy()

In [76]:
train_set.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
5808,-118.26,34.14,6.0,1727.0,506.0,1200.0,439.0,4.1083,210700.0
1949,-120.86,38.75,15.0,1533.0,300.0,674.0,287.0,2.5625,146100.0
15379,-117.25,33.36,6.0,3725.0,960.0,2833.0,915.0,2.3214,247000.0
10876,-117.88,33.73,32.0,1947.0,355.0,1786.0,332.0,4.5726,177500.0
4248,-118.32,34.14,23.0,4574.0,1423.0,1624.0,995.0,4.0965,500001.0

In [77]:
sample_incomplete_rows  = housing[housing.isnull().any(axis=1)].head()
sample_incomplete_rows
from sklearn.preprocessing import Imputer

imputer = Imputer(strategy="median")
imputer.fit(housing_train)
housing_train = imputer.transform(housing_train)

In [78]:
from sklearn.linear_model import LinearRegression

lin_reg = LinearRegression()
lin_reg.fit(housing_train, housing_labels)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [79]:
print("Predictions:", lin_reg.predict(housing_train[:5]))
print("Labels:", housing_labels[:5])

Predictions: [ 206234.07572305   62599.15486262  121422.11740964  210686.84962426
  313032.58878297]
Labels: 5808     210700.0
1949     146100.0
15379    247000.0
10876    177500.0
4248     500001.0
Name: median_house_value, dtype: float64