# Week One

This is a jupyter notebook to teach introductory linear regression
Much of this tutorial is inspired by the tutorial found here https://github.com/ageron/handson-ml/blob/master/02_end_to_end_machine_learning_project.ipynb

In [1]:
print("Press shift + enter to run this cell!")

Press shift + enter to run this cell!

In [2]:
# import statements
import numpy as np
# import os

In [3]:
# configures the plots
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
plt.rcParams['axes.labelsize'] = 14
plt.rcParams['xtick.labelsize'] = 12
plt.rcParams['ytick.labelsize'] = 12

In [4]:
# opens the data
import pandas as pd
def get_data():
    path_csv = "housing.csv"
    return pd.read_csv(path_csv)

In [5]:
housing = get_data()

In [6]:
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [7]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null float64
total_rooms           20640 non-null float64
total_bedrooms        20433 non-null float64
population            20640 non-null float64
households            20640 non-null float64
median_income         20640 non-null float64
median_house_value    20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [8]:
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(housing, test_size=0.2)
print(len(train_set), "train +", len(test_set), "test")

16512 train + 4128 test

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
16695,-120.62,35.13,26.0,3971.0,803.0,1792.0,723.0,2.7128,209900.0,<1H OCEAN
11682,-118.01,33.87,25.0,6348.0,1615.0,4188.0,1497.0,3.1390,185700.0,<1H OCEAN
6836,-118.13,34.08,35.0,2517.0,662.0,1883.0,607.0,2.5787,223000.0,<1H OCEAN
4722,-118.37,34.05,48.0,1266.0,234.0,539.0,222.0,4.0050,275000.0,<1H OCEAN
20395,-118.85,34.25,17.0,5593.0,732.0,1992.0,660.0,7.2965,342900.0,<1H OCEAN

In [10]:
train_set = train_set.drop("ocean_proximity", axis=1)
test_set = test_set.drop("ocean_proximity", axis=1)

housing_train = train_set.drop("median_house_value", axis=1) # drop labels for training set
housing_labels = train_set["median_house_value"].copy()

housing_test = train_set.drop("median_house_value", axis=1) # drop labels for test set
housing_test_labels = test_set["median_house_value"].copy()

In [11]:
train_set.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
16695,-120.62,35.13,26.0,3971.0,803.0,1792.0,723.0,2.7128,209900.0
11682,-118.01,33.87,25.0,6348.0,1615.0,4188.0,1497.0,3.1390,185700.0
6836,-118.13,34.08,35.0,2517.0,662.0,1883.0,607.0,2.5787,223000.0
4722,-118.37,34.05,48.0,1266.0,234.0,539.0,222.0,4.0050,275000.0
20395,-118.85,34.25,17.0,5593.0,732.0,1992.0,660.0,7.2965,342900.0

In [77]:

from sklearn.preprocessing import Imputer
imputer = Imputer(strategy="median")
imputer.fit(housing_train)
housing_train = imputer.transform(housing_train)

In [78]:
from sklearn.linear_model import LinearRegression

lin_reg = LinearRegression()
lin_reg.fit(housing_train, housing_labels)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [79]:
print("Predictions:", lin_reg.predict(housing_train[:5]))
print("Labels:", housing_labels[:5])

Predictions: [ 206234.07572305   62599.15486262  121422.11740964  210686.84962426
  313032.58878297]
Labels: 5808     210700.0
1949     146100.0
15379    247000.0
10876    177500.0
4248     500001.0
Name: median_house_value, dtype: float64